body, html {
    font-family: 'Roboto', sans-serif;
    color: #353535;
}

a, a:active, a:visited {
    color: #0E73BA;
}

#header_top_line {
    background: #F3F7FA;
    font-size: 14px;
}

.top_map_city, .top_short_menu, .top_personal {
   padding: 10px 0px;
}

span.top_map_marker {
    position: absolute;
    display: inline-block;
    width: 13px;
    height: 16px;
    background: url('/images/map_marker.png');
    margin-top: 2px;
    margin-left: 15px;
}

span.top_map_city {
    margin-left: 40px;
}

#header_top_line a, #header_top_line a:visited, #header_top_line a:active {
    display: inline-block;
    margin: 0px 20px;
    color: #444444;
    text-decoration: none;
}

#header_top_line a:hover {
    text-decoration: underline;
}

.top_personal {
    border-left: 1px solid #D2DCE4;
    border-right: 1px solid #D2DCE4;
    width: 190px;
    padding: 10px 15px 10px 25px;
    text-align: center;
}

.top_personal_marker {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 15px;
    background: url('/images/personal.png');
    margin-top: 2px;
    margin-left: -25px;
}

.top_personal_link {
    margin-left: 5px;
}

#account_menu {
    display: none;
    background: #fff;
    border: 1px solid #d7d7d7;
    border-top: 1px solid white;
    position: absolute;
    z-index: 20;
    margin-top: 10px;
    width: 190px;
    margin-left: -26px;
    text-align: left;
}

#account_menu a, #account_menu a:visited, #account_menu a:active {
    font-size: 16px;
    text-decoration: none;
    padding: 10px 5px;
}

#account_menu a:hover {
    text-decoration: none;
    color: #a7a7a7;
}

#header_main_line {
    margin-top: 9px;
}

.top_searchform {
    margin-left: 220px;
    margin-top: 25px;
    margin-right: 520px;
}

@media all and (max-width:992px) {
    .top_searchform {
         display: none;
    }
}

.top_searchfield {
    font-size: 15px;
    padding: 24px 15px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
}

.top_searchbutton {
    position: relative;
    float: right;
    z-index: 2;
    margin-top: -33px;
    margin-right: 15px;
    width: 17px;
    height: 17px;
    background: #fff url('/images/searchicon.png');
    border: none;
}

.top_col_phones {
    margin-top: -90px;
    width: 300px;
    margin-right: 200px;
}

@media all and (max-width:992px) {
    .top_col_phones {
        margin-top: -20px;
        float: left !important;
        margin-right: 0px;
        margin-left: 20px;
    }
}

@media all and (max-width:740px) {
    .top_col_phones {
        width: 210px;
    }
}

@media all and (max-width:650px) {
    .top_col_phones {
        display: none;
    }

    .top_mobile_phones {
        display: block;
    }
}

@media all and (min-width:651px) {
    .top_mobile_phones {
        display: none;
    }
}

.top_mobile_phones {
    margin-top: 5px;
}

.top_mobile_phone {
    white-space: nowrap;
}

.phoneicon {
    display: inline-block;
    width: 14px;
    height: 20px;
    background: url('/images/phone.png');
    margin-top: 30px;
}

.top_phones {
    margin-top: 27px;
    margin-left: 25px;
}

.top_phone {
    font-size: 18px;
}

.mobile_phoneicon {
    display: inline-block;
    width: 14px;
    height: 20px;
    background: url('/images/phone.png');
    margin-top: 10px;
    margin-right: 10px;
/*     margin-left: 20px; */
}

@media all and (max-width:365px) {
    .mobile_phoneicon {
        display: none;
    }
}

.top_mobile_workhours {
/*     margin-right: 20px; */
}
/*
.top_phones {
    margin-top: 27px;
    margin-left: 25px;
}

.top_phone {
    font-size: 18px;
}
*/
.top_shopping_cart, .top_shopping_cart:active, .top_shopping_cart:visited {
    height: 60px;
    width: 190px;
    background: #F3F7FA url('/images/shopping_cart.png') no-repeat 15px 50%;
    border: 1px solid #D2DCE4;
    border-radius: 5px;
    margin-top: -75px;
    display: block;
    text-decoration: none;
    color: #353535;
}

.top_shopping_cart:hover {
    opacity: 0.7;
    text-decoration: none;
}

.shopping_cart_text_amount {
    margin-left: 70px;
    margin-top: 5px;
}

.shopping_cart_text {
    font-size: 18px;
}

.shopping_cart_amount {
    color: #888888;
}

.shopping_cart_badge {
    position: absolute;
    background: #E78325;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    padding: 1px 6px;
    margin-top: -60px;
    margin-left: -10px;
    float: right;
}

@media all and (max-width:992px) {
    .top_shopping_cart {
        margin-top: 10px;
    }
}

@media all and (max-width:450px) {
    .top_shopping_cart {
      width: 75px;
    }

    .shopping_cart_text_amount {
        display: none;
    }

    .shopping_cart_badge {
        margin-top: -10px;
    }
}

#menu_top_line {
    margin-top: 10px;
    background: #0E73BA;
    padding: 12px 0px;
    color: #fff;
    font-size: 18px;
}

#menu_top_line a, #menu_top_line a:visited, #menu_top_line a:active {
    color: #fff;
    text-decoration: none;
}

#menu_top_line a:hover {
    color: #CBDBFF;
    text-decoration: none;
}

.top_socials a {
    display: inline-block;
    float: right;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    width: 36px;
    height: 36px;
    text-align: center;
    padding-top: 4px;
    margin-left: 15px;
}

.menu_icon {
    display: inline-block;
    background: url('/images/menu.png') no-repeat left 5px;
    margin-top: 5px;
    padding-left: 30px;
    margin-right: 25px;
    min-width: 30px;
    min-height: 25px;
}

.menu_item {
    margin-top: 5px;
    padding: 0px 21px 0px 30px;
    background: url('/images/menu_separator.png') no-repeat left;
    display: inline-block;
}

@media all and (max-width:1200px) {
    .menu_icon {
        margin-right: 15px;
    }

    .menu_item {
        padding: 0px 9px 0px 20px;
    }
}

.mobile_searchform {
    margin-top: -30px;
    margin-left: 40px;
    width: 100%;
    float: left;
    display: inline-block;
}

.mobile_searchfield {
    font-size: 15px;
    padding: 17px 10px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
}

.mobile_searchbutton {
    position: relative;
    float: right;
    z-index: 2;
    margin-top: -25px;
    margin-right: 15px;
    width: 17px;
    height: 17px;
    background: #fff url('/images/searchicon.png');
    border: none;
}

.dropdown_left_col {
    background: #F3F7FA;
    padding: 15px 0px;
}

.dropdown_right_col {
    background: #fff;
    padding: 15px 0px;
}

.dropdown_menu {
    display: none;
}

.dropdown_menu a, .dropdown_menu a:active, .dropdown_menu a:visited {
    display: block;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
}

.dropdown_left_col a {
    color: #353535;
}

.dropdown_left_col a:hover {
    background: #fff;
    text-decoration: none;
}

.dropdown_right_col a:hover {
    text-decoration: underline;
}

.modal-content {
    border-radius: 5px;
}

.modal-dialog {
    width: 450px;
    color: #444444;
}

.modal-header {
    padding: 30px 40px;
    border-bottom: none;
}

.modal-title {
    font-weight: bold;
    font-size: 28px;
    color: #444444;
}

.modal-header button {
    width: 22px;
    height: 22px;
    background: url('/images/close_modal.png');
    margin-top: 8px !important;
    opacity: 1;
}

.modal-body {
    padding: 0px;
}

.modal_tabs {
    padding: 0px 40px;
}

.modal_tabs a, .modal_tabs a:visited, .modal_tabs a:active {
    font-size: 16px;
    display: inline-block;
    color: #5B5B5B;
    margin-top: -3px;
    margin-right: 25px;
    padding: 10px 0px;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

.modal_tabs a:hover {
    text-decoration: none;
    color: #0E73BA;
}

.active_modal_tab {
    border-bottom: 3px solid #0E73BA !important;
    color: #0E73BA !important;
}

.modal_tabpanels {
    margin-top: -1px;
    border-top: 1px solid #D7D7D7;
    padding: 20px 40px;
}

.modal_tab_panel {
    display: none;
}

.active_modal_tab_panel {
    display: block;
}

.modal_tabpanels .control-label {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #5B5B5B;
}

.modal_tabpanels input.form-control {
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    font-size: 15px;
    padding: 24px 15px;
}

.modal_tabpanels button {
    background: #0E73BA;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    width: 190px;
    padding: 16px 0px;
}

.restore_link {
    padding-top: 17px;
    text-align: right;
}

/* Center */

.content_block {
    margin-top: 30px;
    margin-bottom: 30px;
}

.breadcrumbs-line a, .breadcrumbs-line a:visited, .breadcrumbs-line a:active, .breadcrumbs-line span, .breadcrumbs-line i {
    font-size: 16px;
    color: #BDBDBD;
    text-decoration: none;
}

.breadcrumbs-line i {
    margin: 0px 10px;
    font-size: 20px;
}

.breadcrumbs-line a:hover {
    text-decoration: underline;
}

.page_title {
    font-weight: bold;
    font-size: 40px;
    color: #444444;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media all and (max-width:992px) {
    .breadcrumbs-line a, .breadcrumbs-line a:visited, .breadcrumbs-line a:active, .breadcrumbs-line span {
         font-size: 12px;
    }

    .breadcrumbs-line i {
        font-size: 16px;
    }

    .page_title {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.product_photo_price {
    border: 1px solid #D7D7D7;
}

.col_product_photo {
    margin-right: 400px;
    border-right: 1px solid #D7D7D7;
}

.col_product_price {
   float: right;
   width: 400px;
}

.product_prices {
    margin: 30px 40px 0px;
}

.product_current_price {
    font-weight: 500;
    font-size: 44px;
    color: #5B5B5B;
}

.product_old_price {
    font-weight: 500;
    font-size: 26px;
    text-decoration: line-through;
    color: #5B5B5B;
    margin-left: 30px;
}

.product_discount {
    position: relative;
    font-weight: bold;
    font-size: 30px;
    color: #E78325;
    top: -30px;
    right: -40px;
}

.product_code {
    font-size: 18px;
    color: #5B5B5B;
    margin: 20px 40px 0px;
}

.product_code span {
    color: #9C9C9C;
}

.product_stars {
    margin: 40px 40px 0px;
}

.product_stars i {
    font-size: 40px;
    padding-right: 7px;
}

.product_star_active {
    color: #FEE92B;
}

.product_star_inactive {
    color: #C4C4C4;
}

.product_star_count {
    font-size: 18px;
    color: #5B5B5B;
    vertical-align: 8px;
}

.product_add_cart {
    margin: 40px;
}

.product_add_cart button {
    background: #0E73BA;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 18px 0px;
    text-align: center;
    width: 100%;
}

.product_photo_slides {
    width: 132px;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
}

.product_photo_slides img {
    border: 1px solid transparent;
    margin: 10px;
    cursor: pointer;
}

.product_photo_active_slide {
    border: 1px solid #E78325 !important;
    cursor: default !important;
}

.product_photo_main {
/*     margin-right: 270px; */
}

.photo_left_arrow {
    float: left;
    height: 450px;
    width: 20px;
    margin-left: 20px;
    background: transparent url('/images/photo_left_arrow.png') no-repeat 50% 50%;
    cursor: pointer;
}

.photo_right_arrow {
    float: right;
    height: 450px;
    width: 20px;
    margin-right: 20px;
    background: transparent url('/images/photo_right_arrow.png') no-repeat 50% 50%;
    cursor: pointer;
}

.photo_left_arrow:hover, .photo_right_arrow:hover {
    opacity: 0.8;
}

.product_photo_big {
    margin-left: 57px;
    text-align: center;
    width: 450px;
    overflow-x: hidden;
}

.product_photo_big_slideshow {
    height: 450px;
    width: 1500px;
}

.product_photo_big_slide {
    display: inline-block;
    width: 450px;
    height: 450px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
}

@media all and (max-width:1200px) {
    .product_photo_slides {
        width: 100%;
        float: none;
        margin: 20px;
    }

    .product_photo_big {
        margin-left: 52px;
        text-align: center;
        width: 430px;
    }

    .product_photo_big img {
        width: 100%;
    }
}

@media all and (max-width:992px) {
    .product_photo_big {
        margin-left: 52px;
        text-align: center;
        width: 420px;
    }

    .product_photo_slides {
        width: 132px;
        float: right;
        margin-right: 40px;
        margin-top: 20px;
    }

    .col_product_price {
        float: none;
        width: auto;
        border-bottom: 1px solid #D7D7D7;
    }

    .product_prices {
        margin: 10px 20px 0px;
    }

    .product_current_price {
        font-size: 24px;
    }

    .product_old_price {
        font-size: 16px;
        margin-left: 30px;
    }

    .product_discount {
        font-size: 20px;
        top: -10px;
        right: -30px;
    }

    .product_code {
        font-size: 14px;
        margin: 0px 20px 10px;
    }

    .product_stars {
        float: right;
        margin: -48px 20px 0px 0px;
    }

    .product_stars i {
        font-size: 20px;
        padding-right: 3px;
    }

    .product_star_count {
        font-size: 12px;
        vertical-align: 3px;
    }

    .col_product_photo {
        margin-right: 0px;
        border-right: none;
    }

}

@media all and (max-width:768px) {
    .product_photo_big {
        margin-left: 52px;
        margin-right: 52px;
        text-align: center;
        width: 320px;
    }

    .product_photo_big img {
        width: 100%;
    }

    .product_photo_slides {
        width: 100%;
        float: none;
        margin: 20px;
    }
}

.product_tabs {
    margin-top: 30px;
    border-bottom: 1px solid #D7D7D7;
    padding-bottom: 15px;
}

.product_tabs a, .product_tabs a:active, .product_tabs a:visited {
    padding: 15px;
    font-size: 18px;
    color: #5B5B5B;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.product_tabs a:hover {
    color: #0E73BA;
}

.product_tabs a.product_active_tab {
    color: #0E73BA;
    border-bottom: 3px solid #0E73BA;
}

.product_main_data {
    margin-top: 40px;
}

.product_tab_content {
    display: none;
    font-size: 18px;
    color: #5B5B5B;
}

.product_active_content {
    display: block;
}

.product_vendor_logo {
    width: 400px;
    float: right;
    text-align: right;
}

.product_tab_content {
    margin-right: 400px;
}





















/* Footer */

#footer_line {
    background: #444444;
    color: #fff;
    padding-top: 30px;
}

.footer_subsribe_text {
    font-weight: bold;
    font-size: 18px;
    padding-top: 15px;
    width: 300px;
    line-height: 20px;
}

.footer_subsribe_text span {
    font-weight: normal;
    font-size: 12px;
}

.footer_subsribe_form {
    margin-left: 320px;
    margin-top: 10px;
}

@media all and (max-width:1200px) {
    .footer_subsribe_form {
        margin-left: 0px;
        margin-top: 80px;
        text-align: center;
    }

    .footer_subsribe_text {
        width: 100%;
        text-align: center;
    }
}

.footer_subsribe_form .form-group {
    margin-right: 250px;
}

@media all and (max-width:767px) {
    .footer_subsribe_form .form-group {
        margin-right: 0px;
    }
}

.footer_subsribe_field {
    font-size: 15px;
    padding: 24px 15px;
    border-radius: 5px;
}

.footer_subsribe_button {
    background: #0E73BA;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 14px 15px 14px 15px;
}

.contacts_bottom_menu_row {
    margin-top: 20px;
}

.bottom_col_phones .phoneicon {
    margin-top: 3px;
}

.bottom_col_email {
    margin-top: 30px;
    font-size: 18px;
    width: 300px;
}

.contact_email {
    margin-left: 28px;
}

.mailicon {
    display: inline-block;
    width: 18px;
    height: 14px;
    background: url('/images/mailicon.png');
    margin-top: 6px;
}

@media all and (max-width:767px) {
    .bottom_col_phones, .bottom_col_email {
        text-align: center;
        margin: 10px auto;
    }
}

.bottom_menu {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.bottom_menu_block {
    width: 25%;
    margin-top: 30px;
    line-height: 2;
    min-height: 120px;
}

@media all and (max-width:430px) {
    .bottom_menu_block {
        width: 50%;
    }
}

.bottom_menu_header {
    font-weight: bold;
    font-size: 18px;
}

.bottom_menu_block a, .bottom_menu_block a:active, .bottom_menu_block a:visited {
    color: #fff;
    text-decoration: none;
}

.bottom_menu_block a:hover {
    text-decoration: underline;
}

.footer_copyright {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 0px;
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}