body, html {
    font-family: 'Roboto', sans-serif;
    color: #353535;
}

a, a:active, a:visited {
    color: #0E73BA;
}

#header_top_line {
    background: #F3F7FA;
    font-size: 14px;
}

.top_map_city, .top_short_menu, .top_personal {
   padding: 10px 0px;
}

span.top_map_marker {
    position: absolute;
    display: inline-block;
    width: 13px;
    height: 16px;
    background: url('/images/map_marker.png');
    margin-top: 2px;
    margin-left: 15px;
}

span.top_map_city {
    margin-left: 40px;
}

#header_top_line a, #header_top_line a:visited, #header_top_line a:active {
    display: inline-block;
    margin: 0px 20px;
    color: #444444;
    text-decoration: none;
}

#header_top_line a:hover {
    text-decoration: underline;
}

.top_personal {
    border-left: 1px solid #D2DCE4;
    border-right: 1px solid #D2DCE4;
    width: 190px;
    padding: 10px 15px 10px 25px;
    text-align: center;
}

.top_personal_marker {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 15px;
    background: url('/images/personal.png');
    margin-top: 2px;
    margin-left: -25px;
}

.top_personal_link {
    margin-left: 5px;
}

#account_menu {
    display: none;
    background: #fff;
    border: 1px solid #d7d7d7;
    border-top: 1px solid white;
    position: absolute;
    z-index: 20;
    margin-top: 10px;
    width: 190px;
    margin-left: -26px;
    text-align: left;
}

#account_menu a, #account_menu a:visited, #account_menu a:active {
    font-size: 16px;
    text-decoration: none;
    padding: 10px 5px;
}

#account_menu a:hover {
    text-decoration: none;
    color: #a7a7a7;
}

#header_main_line {
    margin-top: 9px;
}

.top_searchform {
    margin-left: 220px;
    margin-top: 25px;
    margin-right: 520px;
}

@media all and (max-width:992px) {
    .top_searchform {
         display: none;
    }
}

.top_searchfield {
    font-size: 15px;
    padding: 24px 15px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
}

.top_searchbutton {
    position: relative;
    float: right;
    z-index: 2;
    margin-top: -33px;
    margin-right: 15px;
    width: 17px;
    height: 17px;
    background: #fff url('/images/searchicon.png');
    border: none;
}

.top_col_phones {
    margin-top: -90px;
    width: 300px;
    margin-right: 200px;
}

@media all and (max-width:992px) {
    .top_col_phones {
        margin-top: -20px;
        float: left !important;
        margin-right: 0px;
        margin-left: 20px;
    }
}

@media all and (max-width:740px) {
    .top_col_phones {
        width: 210px;
    }
}

@media all and (max-width:650px) {
    .top_col_phones {
        display: none;
    }

    .top_mobile_phones {
        display: block;
    }
}

@media all and (min-width:651px) {
    .top_mobile_phones {
        display: none;
    }
}

.top_mobile_phones {
    margin-top: 5px;
}

.top_mobile_phone {
    white-space: nowrap;
}

.phoneicon {
    display: inline-block;
    width: 14px;
    height: 20px;
    background: url('/images/phone.png');
    margin-top: 30px;
}

.top_phones {
    margin-top: 27px;
    margin-left: 25px;
}

.top_phone {
    font-size: 18px;
}

.mobile_phoneicon {
    display: inline-block;
    width: 14px;
    height: 20px;
    background: url('/images/phone.png');
    margin-top: 10px;
    margin-right: 10px;
/*     margin-left: 20px; */
}

@media all and (max-width:365px) {
    .mobile_phoneicon {
        display: none;
    }
}

.top_mobile_workhours {
/*     margin-right: 20px; */
}
/*
.top_phones {
    margin-top: 27px;
    margin-left: 25px;
}

.top_phone {
    font-size: 18px;
}
*/
.top_shopping_cart, .top_shopping_cart:active, .top_shopping_cart:visited {
    height: 60px;
    width: 190px;
    background: #F3F7FA url('/images/shopping_cart.png') no-repeat 15px 50%;
    border: 1px solid #D2DCE4;
    border-radius: 5px;
    margin-top: -75px;
    display: block;
    text-decoration: none;
    color: #353535;
}

.top_shopping_cart:hover {
    opacity: 0.7;
    text-decoration: none;
}

.shopping_cart_text_amount {
    margin-left: 70px;
    margin-top: 5px;
}

.shopping_cart_text {
    font-size: 18px;
}

.shopping_cart_amount {
    color: #888888;
}

.shopping_cart_badge {
    position: absolute;
    background: #E78325;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    padding: 1px 6px;
    margin-top: -60px;
    margin-left: -10px;
    float: right;
}

@media all and (max-width:992px) {
    .top_shopping_cart, .top_shopping_cart:active, .top_shopping_cart:visited {
        margin-top: 10px;
    }
}

@media all and (max-width:450px) {
    .top_shopping_cart, .top_shopping_cart:active, .top_shopping_cart:visited {
      width: 75px;
    }

    .shopping_cart_text_amount {
        display: none;
    }

    .shopping_cart_badge {
        margin-top: -10px;
    }
}

#menu_top_line {
    margin-top: 10px;
    background: #0E73BA;
    padding: 12px 0px;
    color: #fff;
    font-size: 18px;
}

#menu_top_line a, #menu_top_line a:visited, #menu_top_line a:active {
    color: #fff;
    text-decoration: none;
}

#menu_top_line a:hover {
    color: #CBDBFF;
    text-decoration: none;
}

.top_socials a {
    display: inline-block;
    float: right;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    width: 36px;
    height: 36px;
    text-align: center;
    padding-top: 4px;
    margin-left: 15px;
}

.menu_icon {
    display: inline-block;
    background: url('/images/menu.png') no-repeat left 5px;
    margin-top: 5px;
    padding-left: 30px;
    margin-right: 25px;
    min-width: 30px;
    min-height: 25px;
    margin-bottom: -50px;
    padding-bottom: 50px;
}

.menu_item {
    margin-top: 5px;
    padding: 0px 21px 0px 30px;
    background: url('/images/menu_separator.png') no-repeat left;
    display: inline-block;
}

@media all and (max-width:1200px) {
    .menu_icon {
        margin-right: 15px;
    }

    .menu_item {
        padding: 0px 9px 0px 20px;
    }
}

.mobile_searchform {
    margin-top: -30px;
    margin-left: 40px;
    width: 100%;
    float: left;
    display: inline-block;
}

.mobile_searchfield {
    font-size: 15px;
    padding: 17px 10px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
}

.mobile_searchbutton {
    position: relative;
    float: right;
    z-index: 2;
    margin-top: -25px;
    margin-right: 15px;
    width: 17px;
    height: 17px;
    background: #fff url('/images/searchicon.png');
    border: none;
}

.dropdown_left_col {
    background: #F3F7FA;
    padding: 15px 0px;
}

.dropdown_right_col {
    background: #fff;
    padding: 15px 0px;
}

.dropdown_menu {
    display: none;
    position: absolute;
    z-index: 50;
    background: #fff;
    width: 100%;
    margin: 0px -15px;
    opacity: 0.98;
    box-shadow: 0px 6px 15px rgba(14, 114, 186, 0.18);
}

.dropdown_menu a, .dropdown_menu a:active, .dropdown_menu a:visited {
    display: block;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
}

.dropdown_left_col a {
    color: #353535;
}

.dropdown_left_col a:hover, .dropdown_left_col a.active_dropdown_left {
    background: #fff;
    text-decoration: none;
}

.dropdown_right_col a:hover {
    text-decoration: underline;
}

.modal-content {
    border-radius: 5px;
}

.modal-dialog {
    width: 450px;
    color: #444444;
}

.modal-header {
    padding: 30px 40px;
    border-bottom: none;
}

.modal-title {
    font-weight: bold;
    font-size: 28px;
    color: #444444;
}

.modal-header button {
    width: 22px;
    height: 22px;
    background: url('/images/close_modal.png');
    margin-top: 8px !important;
    opacity: 1;
}

.modal-body {
    padding: 0px;
}

.modal_tabs {
    padding: 0px 40px;
}

.modal_tabs a, .modal_tabs a:visited, .modal_tabs a:active {
    font-size: 16px;
    display: inline-block;
    color: #5B5B5B;
    margin-top: -3px;
    margin-right: 25px;
    padding: 10px 0px;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

.modal_tabs a:hover {
    text-decoration: none;
    color: #0E73BA;
}

.active_modal_tab {
    border-bottom: 3px solid #0E73BA !important;
    color: #0E73BA !important;
}

.modal_tabpanels {
    margin-top: -1px;
    border-top: 1px solid #D7D7D7;
    padding: 20px 40px;
}

.modal_tab_panel {
    display: none;
}

.active_modal_tab_panel {
    display: block;
}

.modal_tabpanels .control-label {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #5B5B5B;
}

.modal_tabpanels input.form-control {
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    font-size: 15px;
    padding: 24px 15px;
}

.modal_tabpanels button {
    background: #0E73BA;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    width: 190px;
    padding: 16px 0px;
}

.restore_link {
    padding-top: 17px;
    text-align: right;
}

/* Center */

.content_block {
    margin-top: 30px;
    margin-bottom: 30px;
}

.content_block_fluid {
    margin-top: -1px;
}

.breadcrumbs-line a, .breadcrumbs-line a:visited, .breadcrumbs-line a:active, .breadcrumbs-line span, .breadcrumbs-line i {
    font-size: 16px;
    color: #BDBDBD;
    text-decoration: none;
}

.breadcrumbs-line i {
    margin: 0px 10px;
    font-size: 20px;
}

.breadcrumbs-line a:hover {
    text-decoration: underline;
}

.page_title, .page_title h1 {
    font-weight: bold;
    font-size: 40px;
    color: #444444;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media all and (max-width:992px) {
    .breadcrumbs-line a, .breadcrumbs-line a:visited, .breadcrumbs-line a:active, .breadcrumbs-line span {
         font-size: 12px;
    }

    .breadcrumbs-line i {
        font-size: 16px;
    }

    .page_title {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


/* Product Begin */

.product_photo_price {
    border: 1px solid #D7D7D7;
}

.col_product_photo {
    margin-right: 400px;
    border-right: 1px solid #D7D7D7;
}

.col_product_price {
   float: right;
   width: 400px;
}

.product_prices {
    margin: 30px 40px 0px;
}

.product_current_price {
    font-weight: 500;
    font-size: 44px;
    color: #5B5B5B;
}

.product_old_price {
    font-weight: 500;
    font-size: 26px;
    text-decoration: line-through;
    color: #5B5B5B;
    margin-left: 30px;
}

.product_discount {
    position: relative;
    font-weight: bold;
    font-size: 30px;
    color: #E78325;
    top: -80px;
    right: -130px;
}

.product_code {
    font-size: 18px;
    color: #5B5B5B;
    margin: 20px 40px 0px;
}

.product_code span {
    color: #9C9C9C;
}

.product_stars {
    margin: 40px 40px 0px;
}

.product_stars i {
    font-size: 40px;
    padding-right: 7px;
}

.product_star_active {
    color: #FEE92B;
}

.product_star_inactive {
    color: #C4C4C4;
}

.product_star_count {
    font-size: 18px;
    color: #5B5B5B;
    vertical-align: 8px;
}

.product_add_cart {
    margin: 40px;
}

.product_add_cart button {
    background: #0E73BA;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 18px 0px;
    text-align: center;
    width: 100%;
}

.product_photo_slides {
    width: 180px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    height: 515px;
    overflow-y: hidden;
    overflow-x: visible;
}

.product_photo_slides img {
    border: 1px solid transparent;
    margin: 10px;
    cursor: pointer;
}

.product_photo_active_slide {
    border: 1px solid #E78325 !important;
    cursor: default !important;
}

.product_photo_main {
    padding-top: 75px;
}

.photo_left_arrow {
    float: left;
    height: 450px;
    width: 20px;
    margin-left: 20px;
    background: transparent url('/images/photo_left_arrow.png') no-repeat 50% 50%;
    cursor: pointer;
}

.photo_right_arrow {
    float: right;
    height: 450px;
    width: 20px;
    margin-right: 0px;
    background: transparent url('/images/photo_right_arrow.png') no-repeat 50% 50%;
    cursor: pointer;
}

.photo_left_arrow:hover, .photo_right_arrow:hover {
    opacity: 0.8;
}

.product_photo_big {
/*     margin-left: 57px; */
    text-align: center;
    width: 450px;
    overflow-x: hidden;
}

.product_photo_big_slideshow {
    height: 450px;
    width: 1500px;
}

.product_photo_big_slide {
    display: inline-block;
    width: 450px;
    height: 450px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
    background-size: contain;
}

/*
@media all and (max-width:520px) {
    .product_photo_big_slide {
        width: 200px;
        height: 200px;

        background: red;
    }
}
*/
@media all and (max-width:1200px) {
    .product_photo_slides {
       /* width: 100%;
        float: none;
        margin: 20px;
        height: 180px;
        width: 480;
        overflow-y: visible;
        overflow-x: hidden;*/
       display: none;
    }

    .product_photo_big {
/*         margin-left: 52px; */
        text-align: center;
        width: 430px;
    }

    .product_photo_big img {
        width: 100%;
    }

    .photo_right_arrow {
        margin-right: 20px;
    }
}

@media all and (max-width:992px) {
    .product_photo_big {
/*         margin-left: 52px; */
        text-align: center;
        width: 420px;
    }

    .product_photo_slides {
        width: 180px;
        float: right;
        margin-right: 20px;
        margin-top: 20px;
        display: block;
    }

    .photo_right_arrow {
        margin-right: 10px;
    }

    .col_product_price {
        float: none;
        width: auto;
        border-bottom: 1px solid #D7D7D7;
    }

    .product_prices {
        margin: 10px 20px 0px;
    }

    .product_current_price {
        font-size: 24px;
    }

    .product_old_price {
        font-size: 16px;
        margin-left: 30px;
    }

    .product_discount {
        position: absolute;
        font-size: 20px;
        top: auto;
        right: auto;
        margin-top: -30px;
        margin-left: 70px;
    }

    .product_code {
        font-size: 14px;
        margin: 0px 20px 10px;
    }

    .product_stars {
        float: right;
        margin: -48px 20px 0px 0px;
    }

    .product_stars i {
        font-size: 20px;
        padding-right: 3px;
    }

    .product_star_count {
        font-size: 12px;
        vertical-align: 3px;
    }

    .col_product_photo {
        margin-right: 0px;
        border-right: none;
    }

}

@media all and (max-width:768px) {
    .product_photo_big {
/*         margin-left: 52px; */
/*         margin-right: 52px; */
        text-align: center;
        width: 320px;
        margin: 0px auto;
    }

    .product_photo_main {
        margin-bottom: 10px;
    }

    .product_photo_big img {
        width: 100%;
    }

    .product_photo_slides {
        width: 100%;
        float: none;
        margin: 20px;
    }

    .product_photo_slides {
        display: none;
    }

    .photo_right_arrow {
      margin-right: 10px;
    }
}

@media all and (max-width:400px) {
    .product_stars {
        float: none;
        margin: 10px 20px;
    }

    .product_weight_info {
        margin-top: 20px;
    }

    .product_count_weight {
        margin: 0px;
    }
}

.product_tabs {
    margin-top: 30px;
    border-bottom: 1px solid #D7D7D7;
    padding-bottom: 15px;
}

.product_tabs a, .product_tabs a:active, .product_tabs a:visited {
    padding: 15px;
    font-size: 18px;
    color: #5B5B5B;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

@media all and (max-width:768px) {
  .product_tabs a, .product_tabs a:active, .product_tabs a:visited {
      font-size: 14px;
      padding: 7px;
      display: block;
  }

}

.product_tabs a:hover {
    color: #0E73BA;
}

.product_tabs a.product_active_tab {
    color: #0E73BA;
    border-bottom: 3px solid #0E73BA;
}

.product_main_data {
    margin-top: 40px;
}

.product_tab_content {
    display: none;
    font-size: 18px;
    color: #5B5B5B;
}

.product_active_content {
    display: block;
}

.product_vendor_logo {
    width: 400px;
    float: right;
    text-align: right;
}

.product_tab_content {
    margin-right: 400px;
}

@media all and (max-width:768px) {
  .product_vendor_logo {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .product_tab_content {
    margin-right: 0px;
  }
}

.product_property_row {
    border-bottom: 2px dotted #d7d7d7;
    font-size: 18px;
    color: #5B5B5B;
}

span.product_property_name {
    background: #fff;
    padding-bottom: 5px;
    position: relative;
}

span.product_property_value {
    float: right;
    background: #fff;
    padding-bottom: 7px;
    position: relative;
}

.product_count_weight {
    margin: 40px;
}

.product_counter_add {
    width: 150px;
    float: left;
}

.prod_quantity_control {
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 120px;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    color: #5B5B5B;
    padding: 10px 0px;
}

.prod_quantity_control_minus, .prod_quantity_control_plus {
    color: #0E73BA;
    font-size: 20px;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.prod_quantity_control_minus {
    float: left;
    margin-left: 20px;
}

.prod_quantity_control_plus {
    float: right;
    margin-right: 20px;
    margin-top: -2px;
}

.product_weight_info {
    font-size: 18px;
    color: #5B5B5B;
    padding-top: 12px;
}

.product_weight_value {
    font-weight: bold;
    white-space: nowrap;
}

.product_weight_label {
    white-space: nowrap;
}

/* Reviews */
.add_review_button_block button {
    background: #fff;
    font-size: 16px;
    color: #444444;
    border: 1px solid #0E73BA;
    border-radius: 5px;
    padding: 15px 30px;
}

@media all and (max-width:768px) {
    .add_review_button_block {
        text-align: center;
    }
}

.product_review_row {
    margin-top: 40px;
}

.product_review_date {
    font-size: 15px;
    color: #9C9C9C;
    float: right;
}

.product_reviewer {
    font-weight: bold;
    font-size: 21px;
    color: #444444;
}

.product_review_rate {
    margin: 10px 0px 5px;
}

.review_star_active, .review_star_inactive, .review_form_star_inactive, .review_form_star_active {
    display: inline-block;
    width: 24px;
    height: 22px;
}

.review_form_star_inactive, .review_form_star_active {
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
}

.review_star_inactive, .review_form_star_inactive {
    background: url('/images/review_star_inactive.png') no-repeat;
}

.review_star_active, .review_form_star_active {
    background: url('/images/review_star_active.png') no-repeat;
}

#modal_review .modal-dialog {
    width: 680px;
}

@media (max-width: 768px) {
  #modal_review .modal-dialog {
      width: auto;
  }
}

#review_form, #callback-form {
    margin: 0px 40px 25px;
}

.product_review_text {
    font-size: 17px;
    color: #5B5B5B;
}

/* Product end */
/* Product cats */
.product_category_item {
    border: 1px solid #d7d7d7;
    border-bottom: none;
    border-radius: 0px;
    padding: 0px 0px 20px;
/*    min-height: 610px;*/
}

.product_category_item_image {
    height: 230px;
}

.product_category_item_image a {
    display: block;
    height: 100%;
}

.product_category_item_header {
    font-weight: bold;
    font-size: 30px;
    color: #5B5B5B;
    margin: 20px 20px 10px;
}

.product_category_item_subcats a {
    display: block;
    margin: 10px 20px;
    font-size: 18px;
}

.product_category_item_subcats_hidden {
    overflow: hidden;
    display: none;
    margin-top: -10px;
/*     height: 0px; */
}

.product_category_item_show_all, .product_category_item_bottom_all {
    border: 1px solid #d7d7d7;
    font-size: 18px;
    color: #353535;
    text-align: center;
    padding: 20px 0px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.product_category_item_show_all {
    cursor: pointer;
}

.product_category_item_bottom_all {
    border-top: 1px solid transparent;
}


/* Product list begin */
.product_filter_column {
    float: left;
    border: 1px solid #D7D7D7;
    border-bottom: none;
    background: #fff;
}

@media (max-width: 767px) {
  .product_filter_column {
      float: none;
      position: absolute;
      z-index: 100;
      margin-top: 150px;
      display: none;
      box-shadow: 0px 6px 15px rgba(14, 114, 186, 0.18);
      width: 90%;
  }
}

.product_mobile_filters_button {
    text-align: center;
    margin: 10px 0px;
}

.product_mobile_filters_button a, .product_mobile_filters_button a:visited, .product_mobile_filters_button a:active {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    background: #0E73BA;
    text-decoration: none;
}

.product_list_column {
/*     margin-left: -1px; */
}

.product_filter_block a, .product_filter_block a:active, .product_filter_block a:visited {
    color: #444444;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 0px 0px 10px 0px;
}

.product_filter_block a:hover {
    text-decoration: none;
    color: #0E73BA;
}

.product_filter_subcats_active {
    font-weight: bold;
    color: #0E73BA !important;
}

.product_filter_header, .product_filter_header_collapsed {
    font-size: 20px !important;
    font-weight: bold;
    margin-right: 20px;
    padding: 20px 0px 20px 20px;
    cursor: pointer;
}

.product_filter_header {
    background: transparent url('/images/subcat_collapsed.png') no-repeat right;
}

.product_filter_header_collapsed {
    background: transparent url('/images/subcat_collapsed_active.png') no-repeat right;
}

.product_filter_block {
    border-bottom: 1px solid #D7D7D7;
}

.product_filter_values {
    padding: 0px 20px 20px;
}

.product_filter_values .ui-slider-horizontal {
    height: 2px;
    background: #C4C4C4;
}

.product_filter_values #slider-range {
    border: none;
    margin-left: 5px;
    margin-right: 5px;
}

.product_filter_values .ui-slider-range {
    height: 2px;
    background: #0E73BA;
}

.product_filter_values .ui-slider-handle, .product_filter_values .ui-slider-handle:focus {
    border: 2px solid #0E73BA;
    background: #ffffff;
    border-radius: 8px;
    height: 14px;
    width: 14px;
    top: 0px;
    margin-top: -6px;
    outline: none;
}

.price_filter {
    text-align: center;
    margin-bottom: 30px;
}

.price_filter input {
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    width: 100px;
    color: #444444;
}

@media all and (max-width:1200px) {
    .price_filter input {
        font-size: 12px;
        padding: 4px;
        width: 70px;
    }
}

@media all and (max-width:767px) {
  .price_filter input {
      font-size: 16px;
      padding: 8px;
      width: 100px;
  }
}

.product_filter_checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    vertical-align: -4px;
    margin-right: 15px;
}

.product_filter_checkbox_active {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #E78325;
    border-radius: 5px;
    background: #E78325 url('/images/filter_checkbox.png') no-repeat center 1px;
    vertical-align: -4px;
    margin-right: 15px;
}

.product_filter_value {
    font-size: 16px;
    line-height: 100%;
    color: #444444;
    margin: 10px 0px;
    cursor: pointer;
}

.product_filter_actions {
    border-bottom: 1px solid #D7D7D7;
    text-align: center;
    padding: 20px;
}

.product_filter_actions input {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    padding: 14px 0px;
    background: #0E73BA;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
}

.product_filter_actions a, .product_filter_actions a:active, .product_filter_actions a:visited {
    font-size: 16px;
    text-decoration: none;
    color: #888888;
}

.product_filter_actions a:hover {
    text-decoration: underline;
}

.product_list_actions {
    outline: 1px solid #d7d7d7;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 20px;
}

.product_list_action {
    margin-left: 1px;
    display: inline-block;
    padding: 0px 10px;
    font-size: 16px;
}

.product_list_action span {
    padding-right: 5px;
    color: #888888;
}

.product_list_action a, .product_list_action a:active, .product_list_action a:visited {
    color: #444444;
    text-decoration: none;
    padding: 0px 3px 5px;
    border-bottom: 2px solid transparent;
}

.product_list_action a:hover, .product_list_action_active {
    color: #0E73BA !important;
    border-bottom: 2px solid #0E73BA !important;
}

.product_list_action_items {
    margin-left: 130px;
    margin-top: -22px;
}

@media all and (max-width:1200px) {
    .product_list_action {
        padding: 5px 10px;
        font-size: 12px;
    }

    .product_list_action a, .product_list_action a:active, .product_list_action a:visited {
        padding: 0px 2px 2px;
    }

    .product_list_actions {
        border-bottom: 1px solid #d7d7d7;
        padding: 10px;
    }

    .product_list_action_items {
      margin-left: 110px;
      margin-top: -17px;
    }
}

@media all and (max-width:520px) {
    .product_list_action_items {
        margin: 0px;
    }
}

.product_items {
    padding: 0px;
    outline: 1px solid #D7D7D7;
    margin-bottom: -3px;
}

.product_item {
    display: inline-block;
    width: 25%;
    margin: 0px;
    margin-right: -3px;
    margin-bottom: 0px;
    background: url('/images/product_i.png') repeat-y right;
    border-bottom: 1px solid #d7d7d7;
}

@media all and (max-width:1200px) {
    .product_item {
        width: 33.333333333%;
    }
}

@media all and (max-width:992px) {
    .product_item {
        width: 50%;
    }
}

@media all and (max-width:520px) {
    .product_item {
        width: 100%;
    }
}

.product_item_image {
    padding-top: 50px;
    text-align: center;
}

.product_item_title {
    font-size: 16px;
    padding: 20px 20px 0px;
    text-align: center;
    height: 90px;
    overflow: hidden;
}

.product_item_unit {
    font-size: 14px;
    color: #888888;
    padding: 0px 20px;
    text-align: left;
}

.product_item_price {
    font-weight: bold;
    font-size: 18px;
    color: #444444;
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
}

.product_item_discount {
    font-size: 12px;
    color: #E78325;
    position: absolute;
    margin-top: -17px;
}

.product_item_oldprice {
    font-size: 12px;
    position: absolute;
    margin-top: 20px;
    text-decoration: line-through;
    color: #888;
}

.product_item_button {
    text-align: right;
    padding: 0px 20px 20px;
    position: relative;
    margin-top: -5px;
}

.product_item_button button {
    background: #0E73BA;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px;
    font-weight: normal;
}

.product_item_q {
    width: 80px;
    float: left;
}

.product_item_quantity_control {
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 80px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    color: #5B5B5B;
    padding: 10px 0px;
}

.product_item_quantity_control_minus, .product_item_quantity_control_plus {
    color: #0E73BA;
    font-size: 16px;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.product_item_quantity_control_minus {
    float: left;
    margin-left: 10px;
}

.product_item_quantity_control_plus {
    float: right;
    margin-right: 10px;
    margin-top: -2px;
}

@media all and (min-width:1200px) {
  .product_item_price {
    font-size: 16px;
  }

  .product_item_button button {
    font-size: 14px;
    padding: 6px;
/*     margin-top: 7px; */
  }

  .product_item_quantity_control {
    padding: 5px 0px;
  }
}

/* Pager */
.product_pager {
    margin: 30px -15px;
    text-align: center;
}

.product_pager span, .product_pager a, .product_pager a:visited, .product_pager a:active {
    border-radius: 5px;
    min-width: 40px;
    font-size: 16px;
    padding: 10px 15px;
    color: #444444;
    text-decoration: none;
    margin: 0px 5px;
}

.product_pager span {
    border: 1px solid #444444;
}

.product_pager a, .product_pager a:visited, .product_pager a:active {
    border: 1px solid #D7D7D7;
}

.product_pager span.pager_dots {
    min-width: 0px;
    border: none;
    padding: 10px 0px;
}

.pager_next_page {
    margin-left: 15px !important;
}

.pager_prev_page {
    margin-right: 15px !important;
}

@media all and (max-width:992px) {
  .product_pager span, .product_pager a, .product_pager a:visited, .product_pager a:active {
    min-width: 32px;
    font-size: 12px;
    padding: 8px 12px;
    margin: 0px;
  }

  .pager_next_page {
    margin-left: 2px !important;
  }

  .pager_prev_page {
    margin-right: 2px !important;
  }
}

/* Account */

.user_account_menu a, .user_account_menu a:active, .user_account_menu a:visited, .user_account_menu span {
    display: block;
    border: 1px solid #D7D7D7;
    margin: 0px -15px;
    font-size: 20px;
    padding: 40px 0px;
    text-align: center;
    color: #5B5B5B;
    text-decoration: none;
}

.user_account_menu a:hover {
    text-decoration: none;
    opacity: 0.8;
}

.user_account_menu span {
    border: 2px solid #0E73BA !important;
}

a.user_acc_index {
  background: url('/images/icon_account_inactive.png') no-repeat 40px 50%;
  margin-left: 0px !important;
}

span.user_acc_index {
  background: url('/images/icon_account_active.png') no-repeat 40px 50%;
  margin-left: 0px !important;
}

a.user_acc_orders {
  background: url('/images/icon_orders_inactive.png') no-repeat 40px 50%;
}

span.user_acc_orders {
  background: url('/images/icon_orders_active.png') no-repeat 40px 50%;
}

a.user_acc_delivery {
  background: url('/images/icon_delivery_inactive.png') no-repeat 40px 50%;
  margin-right: 0px !important;
}

span.user_acc_delivery {
  background: url('/images/icon_delivery_active.png') no-repeat 40px 50%;
  margin-right: 0px !important;
}

@media all and (max-width:1200px) {
  a.user_acc_index {
    background: url('/images/icon_account_inactive.png') no-repeat 10px 50%;
  }

  span.user_acc_index {
    background: url('/images/icon_account_active.png') no-repeat 10px 50%;
  }

  a.user_acc_orders {
    background: url('/images/icon_orders_inactive.png') no-repeat 10px 50%;
  }

  span.user_acc_orders {
    background: url('/images/icon_orders_active.png') no-repeat 10px 50%;
  }

  a.user_acc_delivery {
    background: url('/images/icon_delivery_inactive.png') no-repeat 10px 50%;
  }

  span.user_acc_delivery {
    background: url('/images/icon_delivery_active.png') no-repeat 10px 50%;
  }
}

@media all and (max-width:992px) {
  a.user_acc_index {
    background: none;
  }

  span.user_acc_index {
    background: none;
  }

  a.user_acc_orders {
    background: none;
  }

  span.user_acc_orders {
    background: none;
  }

  a.user_acc_delivery {
    background: none;
  }

  span.user_acc_delivery {
    background: none;
  }

  .user_account_menu a, .user_account_menu a:active, .user_account_menu a:visited, .user_account_menu span {
    font-size: 14px;
    padding: 40px 20px;
  }
}

#account_form, #password_form {
    margin: 0px;
}

#account_form label,
#password_form label,
.delivery_form label,
#shopcart_form label,
#review_form label,
#callback-form label,
#feedback-form label {
    font-size: 16px;
    color: #5B5B5B;
    font-weight: normal;
    margin-top: 20px;
}

#account_form input,
#password_form input,
.delivery_form input,
#shopcart_form input,
#review_form input,
#review_form textarea,
#callback-form input,
#feedback-form input{
    font-size: 16px;
    padding: 24px 15px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
}

#account_form button,
#password_form button,
#shopcart_form button,
#review_form button,
#callback-form button,
#feedback-form button {
    background: #0E73BA;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 20px 50px;
    font-weight: normal;
    margin-top: 40px;
}

#feedback-form {
    margin-top: 30px;
    background: #F3F7FA;
    padding: 30px;
}

.feedback_header {
    font-weight: bold;
    font-size: 30px;
    color: #5B5B5B;
    margin-bottom: 30px;
}

/* Orders */

.order_item_row {
    margin-top: 40px;
    margin-bottom: -10px;
}

.order_item {
    border: 1px solid #d7d7d7;
}

.order_item_label {
    font-size: 16px;
    line-height: 19px;
    color: #BDBDBD;
    margin-top: 20px;
    margin-left: 10px;
}

.order_item_data {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #444444;
}

.order_positions {
    border: 1px solid #d7d7d7;
    border-top: none;
}

.order_positions .position_end {
    border-bottom: 1px solid #d7d7d7;
    margin: 0px 10px;
}

.order_item_address {
    font-size: 20px;
    color: #444444;
    padding-top: 20px;
    padding-bottom: 40px;
}

.order_item_address_label {
    margin-left: 10px;
    color: #BDBDBD;
}

.order_item_collapse_button {
    float: right;
    margin-top: 35px;
    margin-right: 10px;
    color: #9C9C9C;
    font-size: 18px;
    cursor: pointer;
}

/* Delivery */
.delivery_form {
    border-bottom: 1px solid #d7d7d7;
    margin: 20px 0px;
    padding-bottom: 20px;
}

.address_name {
    font-weight: bold;
    font-size: 24px;
    color: #444444;
}

.address_name a, .address_name a:visited, .address_name a:active {
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    color: #9C9C9C;
    margin-left: 15px;
}

.address_name a:hover {
    text-decoration: underline;
}

.delivery_form button {
    background: #0E73BA;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 14px 0px 13px;
    font-weight: normal;
    margin-top: 48px;
    width: 100%;
}

/* Shopcart */
.shopcart_items {
    border: 1px solid #d7d7d7;
    border-bottom: none;
}

.shopcart_item {
    border-bottom: 1px solid #d7d7d7;
    margin: 0px;
}

.shopcart_item img {
    margin: 20px 20px 20px 5px;
    float: left;
}

.shopcart_item_link {
    margin: 20px 40px 10px 0px;
    font-weight: 500;
    font-size: 20px;
    color: #0E73BA
}

.shopcart_item button {
    position: relative;
    top: 10px;
}

.shopcart_item_qprice {
    margin-bottom: 25px;
}

.shopcart_item_price {
    font-weight: 500;
    font-size: 22px;
    color: #5B5B5B;
}

.shopcart_info_label {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #888888;
    margin-bottom: 15px;
}

.shopcart_item_q {
    width: 150px;
    float: left;
}

.quantity_control {
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 115px;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    color: #5B5B5B;
    padding: 5px 0px;
}

.quantity_control_minus, .quantity_control_plus {
    color: #0E73BA;
    font-size: 20px;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.quantity_control_minus {
    float: left;
    margin-left: 15px;
}

.quantity_control_plus {
    float: right;
    margin-right: 15px;
    margin-top: -2px;
}

#shopcart_form {
    background: #F3F7FA;
    border-radius: 4px;
    padding: 30px;
}

.shopcart_form_header {
    font-weight: 500;
    font-size: 32px;
    color: #5B5B5B;
}

.address_row {
    font-size: 16px;
    color: #5B5B5B;
}

.order_address {
    display: inline-block;
    width: 20px;
    background: url('/images/custom_checkbox.png') no-repeat top center;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.order_address_selected {
    background: url('/images/custom_checkbox_sel.png') no-repeat top center;
    cursor: default;
}

.new_address_link {
    text-decoration: none;
}

.custom_form_selector {
    font-size: 14px;
    color: #5B5B5B;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    padding: 20px 20px;
    cursor: pointer;
    margin: 20px 0px;
}

.custom_form_selector_active {
    box-shadow: 0px 6px 15px rgba(14, 114, 186, 0.18);
    cursor: default;
    background: #fff url('/images/custom_form_selector_active.png') no-repeat 10px 50%;
}

.agreement_row {
    margin: 20px -30px 20px;
    padding: 20px 15px 0px;
    border-top: 1px solid #d7d7d7;
    font-size: 16px;
}

.custom_checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.checkbox_active {
    background: url('/images/checkbox_active.png');
}

.checkbox_inactive {
    background: url('/images/checkbox_inactive.png');
}

.order_total_label {
    font-size: 14px;
    color: #5B5B5B;
    margin: 20px 0px;
}

.order_total_amount {
    font-weight: bold;
    font-size: 28px;
    color: #5B5B5B;
}









/* Footer */

#footer_line {
    background: #444444;
    color: #fff;
    padding-top: 30px;
}

.footer_subsribe_text {
    font-weight: bold;
    font-size: 18px;
    padding-top: 15px;
    width: 300px;
    line-height: 20px;
}

.footer_subsribe_text span {
    font-weight: normal;
    font-size: 12px;
}

.footer_subsribe_form {
    margin-left: 320px;
    margin-top: 10px;
}

@media all and (max-width:1200px) {
    .footer_subsribe_form {
        margin-left: 0px;
        margin-top: 80px;
        text-align: center;
    }

    .footer_subsribe_text {
        width: 100%;
        text-align: center;
    }
}

.footer_subsribe_form .form-group {
    margin-right: 250px;
}

@media all and (max-width:767px) {
    .footer_subsribe_form .form-group {
        margin-right: 0px;
    }
}

.footer_subsribe_field {
    font-size: 15px;
    padding: 24px 15px;
    border-radius: 5px;
}

.footer_subsribe_button {
    background: #0E73BA;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 14px 15px 14px 15px;
}

.contacts_bottom_menu_row {
    margin-top: 20px;
}

.bottom_col_phones .phoneicon {
    margin-top: 3px;
}

.bottom_col_email {
    margin-top: 30px;
    font-size: 18px;
    width: 300px;
}

.contact_email {
    margin-left: 28px;
}

.mailicon {
    display: inline-block;
    width: 18px;
    height: 14px;
    background: url('/images/mailicon.png');
    margin-top: 6px;
}

@media all and (max-width:767px) {
    .bottom_col_phones, .bottom_col_email {
        text-align: center;
        margin: 10px auto;
    }
}

.bottom_menu {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.bottom_menu_block {
    width: 25%;
    margin-top: 30px;
    line-height: 2;
    min-height: 120px;
}

@media all and (max-width:430px) {
    .bottom_menu_block {
        width: 50%;
    }
}

.bottom_menu_header {
    font-weight: bold;
    font-size: 18px;
}

.bottom_menu_block a, .bottom_menu_block a:active, .bottom_menu_block a:visited {
    color: #fff;
    text-decoration: none;
}

.bottom_menu_block a:hover {
    text-decoration: underline;
}

.footer_copyright {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 0px;
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}


/* Product widget */
.product_widget_header {
    font-weight: bold;
    font-size: 30px;
    color: #444444;
    margin-top: 60px;
    margin-bottom: 30px;
}

.product_widget .carousel {
    border: 1px solid #d7d7d7;
    margin-right: 1px;
}

.product_widget .carousel-control, .main_banners .carousel-control {
    background-image: none;
    width: 50px;
}

.product_widget .carousel-control.left, .main_banners .carousel-control.left {
    background: url('/images/photo_left_arrow.png') no-repeat center 50%;
    margin-left: -50px;
}

.product_widget .carousel-control.right, .main_banners .carousel-control.right {
    background: url('/images/photo_right_arrow.png') no-repeat center 50%;
    margin-right: -50px;
}

.product_widget .product_item {
    margin-bottom: -1px;
/*     margin-right: -1px; */
    width: 25%;
    outline: none;
/*     border-right: 1px solid #d7d7d7; */
    background: url('/images/product_i.png') repeat-y right;
    border-bottom: 1px solid #d7d7d7;
}

@media all and (max-width:1251px) {
  .product_widget, .main_banners {
      margin: 0px 40px;
  }

  .product_widget .product_item {
      width: 25%;
  }
}

@media all and (max-width:1200px) {
  .product_widget, .main_banners {
      margin: 0px;
  }

  .product_widget .product_item {
      width: 25%;
  }
}

@media all and (max-width:1050px) {
  .product_widget, .main_banners {
    margin: 40px;
  }

  .product_widget .product_item {
    width: 25%;
  }
}

@media all and (max-width: 992px) {
  .product_widget, .main_banners {
    margin: 0px;
  }

  .product_widget .product_item {
    width: 50%;
  }
}

@media all and (max-width:830px) {
  .product_widget, .main_banners {
    margin: 40px;
  }

  .product_widget .product_item {
    width: 50%;
  }
}

@media all and (max-width:768px) {
  .product_widget, .main_banners {
    margin: 40px;
  }

  .product_widget .product_item {
    width: 50%;
  }
}

@media all and (max-width:630px) {
  .product_widget, .main_banners {
    margin: 40px 0px 40px 10px;
  }

  .product_widget .product_item {
    width: 100%;
  }
}

/* Search */

.find_products {
    outline: 1px solid #d7d7d7;
    margin-bottom: -5px;
}

.find_products_count {
    font-size: 16px;
    padding: 10px 0px;
}


/* Labels */
.product_labels {
    position: absolute;
    margin-top: 15px;
    width: 150px;
}

span.product_label, a.product_label, a.product_label:visited, a.product_label:active, a.product_label:hover {
    display: inline-block;
    padding: 1px 4px;
    color: #fff;
    text-decoration: none;
    margin-top: 5px;
    font-size: 14px;
}

.product_show_labels {
    position: absolute;
    margin: 15px 0px 0px 25px;
}

.product_show_labels span.product_label, .product_show_labels a.product_label {
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 16px;
}

/* About company features */
.about_company, .main_block_advices {
    background: #F3F7FA;
}

.main_block_decription .container {
    padding-top: 70px;
    padding-bottom: 70px;
    color: #444444;
}

.about_company .container {
    background: url('/images/logo_background.png') no-repeat bottom right;
}

.main_block_decription_header {
    font-weight: bold;
    font-size: 40px;
}

.main_block_decription_header a, .main_block_decription_header a:visited, .main_block_decription_header a:active {
    float: right;
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;
    margin-top: 20px;
}

.main_block_decription_header a:hover {
    text-decoration: underline;
}

.about_feature_block {
    width: 20%;
    min-width: 190px;
    float: left;
    text-align: center;
    border-left: 1px solid #d7d7d7;
    height: 240px;
    margin-top: 30px;
}

.about_feature_image {
    border: 2px solid #0E73BA;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 20px auto 30px;
}

.about_image_text {
    font-size: 16px;
    padding: 0px 20px;
}

/* Services */
.s_icon {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 30px;
}

.s_delivery .s_icon {
    background: #FFFFFF url('/images/s_delivery_icon.png') no-repeat 50% 50%;
}

.s_payment .s_icon {
    background: #FFFFFF url('/images/s_payment_icon.png') no-repeat 50% 50%;
}

.s_wholesales .s_icon {
    background: #FFFFFF url('/images/s_wholesales_icon.png') no-repeat 50% 50%;
}

.s_wholesales {
    background: url('/images/s_wholesales_img.png') no-repeat;
}

.s_delivery {
    background: url('/images/s_delivery_img.png') no-repeat;
}

.s_payment {
    background: url('/images/s_payment_img.png') no-repeat;
}

.s_image_block {
    height: 360px;
    border-radius: 0px;
    max-width: 360px;
}

.s_overlay {
    background: #000;
    color: #fff;
    font-size: 22px;
    padding: 15px 0px 15px 30px;
    margin: 214px -4px 0px -4px;
    opacity: 0.7;
}

.s_more {
    background: #fff;
    padding: 26px 0px 26px 30px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 1px;
}

.main_block_advices .s_image_block {
    min-height: 160px;
    height: auto;
    border: none;
}

.main_block_advices .s_more {
    background: #F3F7FA;
    margin: 206px -5px 0px;
    font-size: 22px;
}

.main_block_advices .s_more span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    color: #888888;
}

.main_market_description {
    font-size: 16px;
    line-height: 30px;
    color: #888888;
}

.main_market_header {
    font-weight: bold;
    font-size: 30px;
    color: #444444;
    margin: 60px 0px 30px;
}

.background_overlay {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 500px;
    background: #000;
    opacity: 0.3;
    margin-top: -1px;
    display: none;
}