<?php

return [
    'reCaptcha' => [
        'siteKey' => '',
        'secret'  => '',
    ],
    'robokassa' => [
        'sMerchantLogin' => '',
        'sMerchantPass1' => '',
        'sMerchantPass2' => '',
        'isTest' => true,
    ],
];
